# turborepo
.turbo

# filesystem
.DS_Store
.temp

# apps
apps/*/dist

# node / nuxt / vite / rollup
.bin
.output
.nuxt
node_modules
dist

# vscode
.vscode

# vitepress docs
docs/.vitepress/dist
docs/.vitepress/cache

# environment
.env

# repomix
.repomix*
repomix*
